<section class="new-training" fxLayout="" fxLayoutAlign="center">
  <form (ngSubmit)="onStartWorkout(f)" #f="ngForm">
    <mat-card fxFlex.lt-sm="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">Your Workout:</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!(isLoading$ | async) && exercises" appearance="fill"
                        fxLayoutAlign="center">
          <mat-label>Select workout type</mat-label>
          <mat-select [ngModel]="" name="selectedExerciseId" required>
            <mat-option *ngFor="let exercise of exercises"
                        [value]=exercise.id>{{exercise.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-content>
      <mat-card-actions *ngIf="!(isLoading$ | async)" fxLayoutAlign="center">
        <button *ngIf="exercises" type="submit" mat-raised-button color="primary"
                [disabled]="f.invalid">
          Start Workout
        </button>
        <button *ngIf="!exercises" type="button" mat-raised-button color="primary"
                (click)="fetchExercises()">
          Try again..
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
